<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[URL].$error.server}">Redmine URL:<span class='asterix'>*</span></label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[URL].$error.server}" type="text" ng-model="URL" ng-required="true"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[URL].$error.server}" ng-show="GOINPUTNAME[URL].$error.server">{{GOINPUTNAME[URL].$error.server}}</span>
</div>

<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[KEY].$error.server}">API-Key:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[KEY].$error.server}" type="password" ng-model="KEY" ng-required="true"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[KEY].$error.server}" ng-show="GOINPUTNAME[KEY].$error.server">{{GOINPUTNAME[Username].$error.server}}</span>
</div>

<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[Project].$error.server}">Project Id:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[Project].$error.server}" type="text" ng-model="Project" ng-required="true"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[Project].$error.server}" ng-show="GOINPUTNAME[Project].$error.server">{{GOINPUTNAME[Password].$error.server}}</span>
</div>

<div class="form_item_block">
    <label ng-class="{'is-invalid-label': GOINPUTNAME[Version].$error.server}">Version Id:</label>
    <input ng-class="{'is-invalid-input': GOINPUTNAME[Version].$error.server}" type="text" ng-model="Version" ng-required="true"/>
    <span class="form_error form-error" ng-class="{'is-visible': GOINPUTNAME[Version].$error.server}" ng-show="GOINPUTNAME[Version].$error.server">{{GOINPUTNAME[Password].$error.server}}</span>
</div>